@font-face {
	font-family: 'JosefinSans';
	src: url('/fonts/JosefinSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
 }
 @font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@media print {
    section, header {
        display: none;
    }
    html {
        margin: 0;
        padding: 0;
    }
    body {
        width: 21cm;
    }

    div.barcodeGenBox {
        display: inline-block;
        width: 9cm;
        height: 5cm;
        border: dashed 1px black;
        margin: 0.2cm;
        padding: 0.8cm 0 0 0;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        position: relative;
    }

    .barcodeGenBox p {
        font-size: 12px;
    }

    .barcodeGenBox .name {
        font-weight: bold;
    }

    .barcodeGenBox .code {
        font-size: 10px;
        font-family: 'Consolas', sans-serif;
        letter-spacing: 1.5px;
        margin-top: 4px;
    }

    .barcodeGenBox .wiisarilogo {
        position: absolute;
        font-family: 'JosefinSans';
        font-size: 24px;
        top: 12px;
        left: 12px; 
        padding: 0;
        margin: 0;
        letter-spacing: 1px;
    }

    .barcodeGenBox .tstlogo {
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 0;
        margin: 0;
    }
}

@media screen {
    .print-box {
        display: none;
    }
}