@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('/fonts/OpenSans-Light.ttf');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'JosefinSans';
	src: url('/fonts/JosefinSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
 }

 :root {
	 --blue: #007bff;
	 --darkblue: #1374dc;
	 --lightgreen: #00d774;
	 --orange: #fd7e14;
	 --darkorange: #e07217;
	 --gray: #6c757d;
	 --gray-dark: #343a40;
	 --gray-light: #dee2e6;
	 --green: #28a745;
	 --green-dark: #1c8935;
	 --red: #dc3545;
	 --red-dark: #c42e3d;
	 --purple: #6f42c1;
 }

.btn {
	display: inline-block;
	padding: 8px 13px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	font-family: 'Segoe UI', 'Open Sans';
	font-weight: 400;
	font-size: 1rem;
	border: none;
	background-color: var(--blue);
	transition: background-color 0.2s ease;
}
.btn:hover {
	cursor: pointer;
	background-color: var(--darkblue);
}


body {
	background: #f8f9fa;
	font-family: 'Open Sans', sans-serif;
  margin: 0;
}


header {
	z-index: 10;
	position: relative;
	display: flex;
  justify-content: space-between;
	width: 100%;
	height: 55px;
  font-size: 14px;
  background-color: #252e38;
  color: white;
}
header a {
  display: inline-block;
  line-height: 28px;
	color: white;
	text-decoration: none;
	padding: 0 10px;
  border-radius: 14px;
	transition: background-color 0.2s ease;
}
header a:hover {
	color: #324b68;
	background-color: white;
}

.logolink {
	display: inline-block;
  text-decoration: none;
	margin: 18px 0 0 27px;
	color: white;
}
.logotext {
  margin: 0;
  font-size: 38px;
	font-family: 'JosefinSans';
	font-weight: normal;
	letter-spacing: 4px;
	/* mdbootstrap.com/tools/logo-generator-text */
	/*text-shadow: rgb(44, 64, 90) 0px 0px 0px, rgb(45, 66, 92) 1px 1px 0px, rgb(47, 68, 95) 2px 2px 0px, rgb(48, 70, 98) 3px 3px 0px, rgb(50, 72, 101) 4px 4px 0px, rgb(51, 74, 103) 5px 5px 0px, rgb(52, 76, 106) 6px 6px 0px, rgb(54, 78, 109) 7px 7px 0px, rgb(55, 80, 112) 8px 8px 0px, rgb(56, 82, 114) 9px 9px 0px, rgb(58, 84, 117) 10px 10px 0px, rgb(59, 86, 120) 11px 11px 0px, rgb(60, 88, 123) 12px 12px 0px, rgb(62, 90, 125) 13px 13px 0px;
*/}
.logolink:hover {
	background-color: inherit;
	color: #0dffff;
}

.loggedBar {
	margin: 13px 28px 0 0;
	height: 28px;
}
.loggedBar a {
	background: var(--blue);
	color: white;
}
.loggedBar a:hover {
	color: var(--blue);
	background: white;
}

.flexBox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: black;
}
.borderBox {
	display: inline-block;
  padding: 4px;
	background: white;
  border-radius: 18px;
}
.borderBox.borderIn {
	background: linear-gradient(145deg, #00ffbe 0%,#00ff43 100%);
}
.borderBox.borderOut {
	background: linear-gradient(145deg, #ff4157 0%,#ff1e9a 100%);
}
.kirjausLaatikko {
    width: 300px;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}
.kirjausNimi {
  margin: 0;
  text-align: center;
  font-size: 28px;
}
.kirjausAika {
  font-size: 24px;
}
.kirjausSisaan {
    background-color: #00ea00;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 7px 0;
    color: white;
    font-weight: bold;
		margin: 0;
}

.kirjausUlos {
    background-color: #fa3838;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 7px 0;
    color: white;
    font-weight: bold;
		margin: 0;
}
.logOutTime {
	background: linear-gradient(145deg, #0078ff 0%,#00b8ff 100%);
	border-radius: 10px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	padding: 7px 0;
	color: white;
	font-weight: bold;
	margin: 10px 0 10px 0;
}
.inout_notes {
	background: #dfdfdf;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}
.inout_notes h3 {
	margin: 0;
}
.inout_notes p {
	margin: 0;
	word-wrap: break-word;
}

.raportitValinta {
	background-color: white;
	width: 400px;
	border-radius: 10px;
	margin: 30px auto;
  padding: 15px;
	box-shadow: 2px 2px 7px 0px #d0cece;
}
.raportitValinta h2 {
	margin: 0;
}
.raporttiLinkki {
	text-decoration: none;
	background: #3982dd;
  border: none;
  color: white;
  padding: 7px 10px;
  border-radius: 19px;
  font-size: 15px;
}
.raporttiLinkki:hover {
	cursor: pointer;
	background: #204b80;
}


.loginPage {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}
#chooseLogin {
	position: absolute;
  left: 0;
  right: 0;
	width: 100%;
	text-align: center
}
#chooseLogin img {
	height: 100px;
}
#chooseLogin button {
	width: 100px;
  height: 100px;
  border: none;
  border-radius: 7px;
  color: white;
	transition: background-color 0.2s ease;
	margin-bottom: 20px;
}
#chooseLogin button i {
	font-size: 40px;
	margin-bottom: 5px;
}
#chooseLogin button#employee {
	background-color: var(--blue);
}
#chooseLogin button#employee:hover {
	background-color: var(--darkblue);
	cursor: pointer;
}
#chooseLogin button#admin {
	background-color: var(--orange);
	margin-right: 20px;
}
#chooseLogin button#admin:hover {
	background-color: var(--darkorange);
	cursor: pointer;
}
#employeeSlideLogin {
	width: 100%;
	display: none;
}
#employeeSlideBack {
	position: absolute;
  left: 30;
  bottom: 50%;
  font-size: 35px;
	display: none;
}
#adminSlideLogin {
	width: 100%;
	display: none;
}
#adminSlideBack {
	position: absolute;
  right: 30;
  bottom: 50%;
  font-size: 35px;
	display: none;
}

.loginBox {
	width: 400px;
	margin: auto;
	text-align: center
}
.loginBox img {
	height: 100px;
}
.loginPage h2 {
	font-weight: 400;
	margin: 10px 0;
}
.loginBox p {
	margin: 0 0 20px 0;
	color: grey;
}
.loginBox input {
	height: 3.125rem;
  padding: .75rem;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ced4da;
	font-size: 16px;
	margin-bottom: 10px;
}
.loginBox label {
	font-size: 18px;
}
.loginBox button {
	text-decoration: none;
	background-color: var(--blue);
	border: none;
	color: white;
	border-radius: 5px;
	font-size: 17px;
	height: 45px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: background-color 0.2s ease;
}
.loginBox button:hover {
	cursor: pointer;
	background-color: var(--darkblue);
}
.loginPage a {
	color: #007bff;
	text-decoration: none;
}
.loginPage a:hover {
	color: #2864a5;
	cursor: pointer;
}


/* --- MYPAGE --- */
section.mypageHead {
	transform: skewY(-2deg);
  margin-top: -30px;
  padding-top: 30px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 320px;
	font-family: 'Segoe UI', 'Open Sans Light';
	background-color: white;
	box-shadow: 0px 1px 11px #d9d9d9;
}
.mypageHead div {
	transform: skewY(2deg);
}
.mypageHead h2 {
	width: 100%;
	font-weight: 300;
	font-size: 37px;
  margin: 0 0 10px 0;
}
.mypageHead p {
	width: 100%;
	color: grey;
	font-weight: 300;
	font-size: 20px;
	margin: 0 0 30px 0;
}
.mypageHead a#secondary {
	background-color: var(--gray);
}
.mypageHead a#secondary:hover {
	background-color: var(--gray-dark);
}

section.container {
	display: flex;
  text-align: left;
  overflow: hidden;
	max-width: 1300px;
	margin: 40px auto 50px auto;
	padding: 20px;
}
.container h2 {
	width: 100%;
	margin: 0 0 20px 0;
	line-height: 50px;
	padding-left: 20px;
	box-sizing: border-box;
	color: white;
	font-weight: 400;
	font-family: 'Segoe UI', 'Open Sans Light';
}
.container .leftInfo {
	order: 1;
	overflow: hidden;
  min-width: 300px;
	height: 500px;
	background-color: white;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	border-radius: .25rem;
}
.container .mainBox {
	order: 2;
	flex-grow: 1;
	margin-left: 20px;
}
.container .mainBox > div{
	overflow: hidden;
	min-height: 200px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	border-radius: .25rem;
	padding-bottom: 40px;
}
.leftInfo h2 {
	background: var(--blue);
}
.leftInfo textarea {
	display: inline-block;
	width: 100%;
	height: 100px;
	padding: .375rem .75rem;
	margin: 10px 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	resize: none;
	font-family: 'Open Sans';
	font-size: 14px;
	outline: none;
}
.leftInfo textarea:focus {
	border-color: var(--blue);
	box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.5);
}
.mainBox .first h2 {
	background: var(--purple);
}
.mainBox .second h2 {
	background: var(--green);
}
.mainBox .admin h2 {
	background: var(--orange);
}
.container .section {
	color: var(--gray);
	margin: 0 1em 1.5em 1em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid var(--gray-light);
}
.mainBox form {
	margin: 0;
}
.mainBox form input {
	display: inline-block;
  padding: .375rem .75rem;
	margin: 10px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mainBox form input:focus {
	border-color: var(--blue);
	box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.5);
}

.mypage_inout button {
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 7px;
	color: white;
	font-size: 25px;
	transition: background-color 0.2s ease;
	margin-bottom: 20px;
}
.mypage_inout button#in {
	background-color: var(--green);
}
.mypage_inout button#in:hover {
	background-color: var(--green-dark);
	cursor: pointer;
}
.mypage_inout button#out {
	background-color: var(--red);
}
.mypage_inout button#out:hover {
	background-color: var(--red-dark);
	cursor: pointer;
}


.ownReportsBox {
	width: 400px;
  margin: 30px auto;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 0px #d0cece;
}
.ownReportsBox h2 {
	margin: 0 0 5px 0;
	text-align: center;
}
.ownReportsBox p {
	margin: 20px 0 0 0;
}
.monthlyHours {
	width: 400px;
	float: right;
}
.reportsField {
	margin-top: 10px;
	overflow: hidden;
}
.reportsField input {
	float: right;
  clear: both;
  height: 30px;
  border-radius: 15px;
  width: 250px;
  border: 2px solid #3982dd;
  padding: 0 10px;
  font-size: 16px;
}


/* User create page */
.createdescription {
	font-size: 12px;
	color: grey
}


.install {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
}

.install_bold {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    color: #333333;
}

.install_bold_center {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding-left: 65px;
    color: #333333;
}

.install_little_text {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 9px;
    padding-right: 25px;
    padding-left: 25px;
}

.install_paragraph {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    padding-left: 25px;
    padding-right: 25px;
}

.install_paragraph_center {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
}

.install_table {
    border: solid #CCCCCC;
    border-width: 1px 1px 1px 1px;
}

.admin_headings {
    text-decoration: none;

    font-size: 11px;
    color: #27408b;
}

.column_headings {

    font-size: 10pt;
    text-decoration: underline;
    color: 27408 b;
}

.current_left_rows {
    background-color: #eeeeee;
    border: solid #748771;
    border-width: 0px 0px 1px 0px;
    padding-left: 10px;
    color: #27408b;
    font-weight: bold;
}

.current_left_rows_indent {
    text-decoration: none;
    color: #748771;
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    background-color: #eeeeee;
    border: solid #748771;
    border-width: 0px 0px 0px 0px;
    padding-left: 32px;
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

.display_hide {
    display: none;
}

.display_row {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    padding-left: 10px;
    color: 000;
    border-width: 1px 1px 1px 1px;
    border-color: 000;
}

.footer_links {
    font-weight: none;
    text-decoration: none;
    color: #27408b;
}

.header {
    height: 45px;
    color: #000000;
    background-color: #748771;
    border: solid #cdc0b0;
    border-width: 0px 0px 1px 0px;
}

.header a {
    font-family: 'Open Sans',  Tahoma;
    font-size: 10pt;
    text-decoration: none;
}

.left_main {
    background-color: #FCFCFF;
    border: solid #cdc0b0;
    border-width: 0px 1px 1px 1px;
}

.left_rows {
    background-color: #FCFCFF;
    border: solid #808088;
    border-width: 0px 0px 1px 0px;
    padding-left: 10px;
}

.left_rows_border_top {
    background-color: #FCFCFF;
    border: solid #808088;
    border-width: 1px 0px 1px 0px;
    padding-left: 10px;
}

.left_rows_headings {
    font-weight: bold;
    background-color: #FCFCFF;
    border: solid #808088;
    border-width: 0px 0px 1px 0px;
    padding-left: 10px;
    color: #000000;
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
}

.left_rows_indent {
    text-decoration: none;
    color: #748771;
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    background-color: #FCFCFF;
    border: solid #808088;
    border-width: 0px 0px 0px 0px;
    padding-left: 32px;
}

.misc_items {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    color: 748771;
		background-color: white;
}

.notdisplay {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    padding-left: 10px;
    display: none;
}

.notdisplay_rpt {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    display: none;
}

.notprint {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    padding-left: 10px;
}

.right_main {
    background-color: #FCFCFF;
    border: solid #cdc0b0;
    border-width: 0px 1px 1px 1px;
}

.right_main_text {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    background-color: #FCFCFF;
    padding-left: 10px;
}

.rightside_heading {
    border-color: #bbb;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    background-color: #eee;
    text-align: left;
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
}

.table_border {
    border-color: #bbb;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.table_heading {
    background-color: #eeeeee;
    border-color: #bbbbbb;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
}

.table_heading_no_color {
    background-color: #FCFCFF;
    text-align: left;
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
}

.table_rows {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    padding: 2px;
}

.table_rows_green {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    color: #009900;
    padding: 2px;
}

.table_rows_red {
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 11px;
    color: #FF0000;
    padding: 2px;
}

.title_underline {
    text-decoration: underline;
    color: #27408b;
    font-family: 'Open Sans',  Tahoma, Verdana, Trebuchet MS, sans-serif;
    font-size: 10pt;
    padding-left: 0px;
}

.office_fav {
    cursor: pointer;
    font-size: 175%;
}
