@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('/fonts/OpenSans-Light.ttf');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'JosefinSans';
	src: url('/fonts/JosefinSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
 }


body {
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 25s ease infinite;
  margin: 0;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.ylalaatikko {
  height: 70px;
}
.otsikkolinkki {
	display: inline-block;
  text-decoration: none;
	margin: 24px 0 0 27px;
}
.ylaotsikko {
  margin: 0;
  font-size: 38px;
	font-family: 'JosefinSans';
	font-weight: normal;
	color: white;
	letter-spacing: 4px;
	/* mdbootstrap.com/tools/logo-generator-text
	text-shadow: rgb(44, 64, 90) 0px 0px 0px, rgb(45, 66, 92) 1px 1px 0px, rgb(47, 68, 95) 2px 2px 0px, rgb(48, 70, 98) 3px 3px 0px, rgb(50, 72, 101) 4px 4px 0px, rgb(51, 74, 103) 5px 5px 0px, rgb(52, 76, 106) 6px 6px 0px, rgb(54, 78, 109) 7px 7px 0px, rgb(55, 80, 112) 8px 8px 0px, rgb(56, 82, 114) 9px 9px 0px, rgb(58, 84, 117) 10px 10px 0px, rgb(59, 86, 120) 11px 11px 0px, rgb(60, 88, 123) 12px 12px 0px, rgb(62, 90, 125) 13px 13px 0px;
*/
}

header {
	width: 100%;;
  font-size: 14px;
  color: white;
}
header a {
	height: 28px;
  display: inline-block;
  line-height: 28px;
	color: white;
	text-decoration: none;
	padding: 0 10px;
  border-radius: 14px;
}
header a:hover {
	color: #324b68;
	background: white;
}

.loggedBar {
	float: right;
    background: red;
    padding: 0 30px;
    margin-right: 20px;
    text-align: right;
    color: white;
    font-size: 16px;
    border-radius: 14px;
}
.loggedBar a {
	text-decoration: underline;
	color: #204b80;
}
.loggedBar a:hover {
	color: red;
}


.clockBox {
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-family: 'Open Sans Light';
  font-size: 36px;
}


.lomake {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
}
.barcodeHeader {
	font-size: 28px;
  color: white;
  font-family: 'Open Sans Light'
}
.barcodeBox {
  margin-top: 7px;
}
#left_barcode {
	width: 400px;
	height: 40px;
	border-radius: 22px;
	border: none;
  font-size: 24px;
  padding-left: 10px;
  text-align: center;
}

.maker {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 11px;
	color: white;
	margin: 0;
	font-family: 'Open Sans Light';
  letter-spacing: 2px;
}
